<mat-toolbar *ngIf="!!user">
  <button mat-icon-button class="example-icon" aria-label="" (click)="drawer.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>🤌InTouch</span>
  <span class="example-spacer"></span>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="standard">
      <input matInput placeholder="Search">
      <mat-icon class="material-icons search-button" style="cursor: pointer;">search</mat-icon>
    </mat-form-field>
  </form>
  <span class="example-spacer"></span>
  <p>{{user.username}}</p>
  <button mat-icon-button class="example-icon favorite-icon" *ngIf="!!user">
    <img [src]="imageBlobUrl" style="height: 40px;width: auto;" alt="@{{user.username}}">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar *ngIf="!user">
  <button mat-icon-button class="example-icon" aria-label="" (click)="drawer.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>🤌InTouch</span>
  <span class="example-spacer"></span>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="standard">
      <input matInput placeholder="Search">
      <mat-icon class="material-icons search-button" style="cursor: pointer;">search</mat-icon>
    </mat-form-field>
  </form>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon">
    <a href="/login" style="text-decoration: none;color: white">Login</a>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" style="z-index: 2">
  <mat-sidenav #drawer class="sidenav" fixedInViewport (click)="drawer.close()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/" (click)="drawer.close()">Home</a>
      <a mat-list-item href="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
      <a mat-list-item routerLink="/customers" (click)="drawer.close()">SSR Demo</a>
      <a mat-list-item href="/video-new" (click)="drawer.close()">Add Video</a>
      <mat-list style="background-color: #3c3b3b;">
        <p>Subscriptions</p>
        <mat-list-item class="mat-list-item-sidenav" style="background-color: #3c3b3b">

          <img src="./assets/cat.jpg" class="image-subs">
          <p>mikro4elik</p>
        </mat-list-item>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>

<ng-content></ng-content>

