.example-spacer {
  flex: 1 1 auto;
}
.example-form{
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.search-button:hover{
  color: orange;
}
.mat-list-item-sidenav{
  background-color: #3c3b3b;
}
.mat-list-item-sidenav:hover{
  color: orange;
}
.image-subs{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
