.mat-card-video-data{
  background-color: #3c3b3b;
}
.file-input {
  display: none;
}
:host::ng-deep .progress{
  background-color: unset !important;
}

:host::ng-deep mat-seek-progress-control{
  width: 100%;
}
.video-player{
  max-height: 1260px;
  max-width: 900px;
}
@media (min-width: 1200px) {
  .videogular-container {
    width: 1170px;
    height: 658.125px; }
  .videogular-container.audio {
    width: 1170px;
    height: 50px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .videogular-container {
    width: 940px;
    height: 528.75px; }
  .videogular-container.audio {
    width: 940px;
    height: 50px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .videogular-container {
    width: 728px;
    height: 409.5px; }
  .videogular-container.audio {
    width: 728px;
    height: 50px; } }
.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
  display: block !important;
  opacity: 1; }

.show-hide-animation.ng-hide {
  opacity: 0; }
.hidden-progress-bar{
  display: none;
}
