.mat-card-video-data{
  background-color: #3c3b3b;
}
.file-input {
  display: none;
}
:host::ng-deep .progress{
  background-color: unset !important;
}

:host::ng-deep mat-seek-progress-control{
  width: 100%;
}
.video-player{
  max-height: 1260px;
  max-width: 900px;
}
